@import 'variables';

header {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.pseudo-container {
    max-width: 1200px;
    margin: 0 auto;
}