// Цвета
$primary-color: #007bff;
$secondary-color: #6c757d;
$error-color: #dc3545;

// Шрифты
$font-family-base: 'Poppins', sans-serif;

// Отступы
$spacing-unit: 1rem;

// Размеры текста
$font-size-base: 1rem;
$font-size-large: 1.25rem;
$font-size-small: 0.875rem;